<h1>Willkommen</h1>
<%=link_to "neues Projekt erstellen", new_project_path%>
<table>
		<tr>
			<th>Titel</th>
			<th>Start</th>
			<th>Beschreibung</th>
			<th>anzeigen</th>
			<th>bearbeiten</th>
			<th>löschen</th>
		</tr>

	<% @projects.each do |project| %>
		<tr>
			<td><%=project.title %></td>
			<td><%=project.start_date%></td>
			<td><%=project.description%></td>
			<td><%=link_to "show", project_path(project.id)%></td>
			<td><%=link_to "edit", edit_project_path(project.id)%></td>
			<td><%=link_to "delete", project_path(project.id), method: :delete, data: {confirm: "Sicher?"} %></td>
		</tr>
	<%end%>
</table>
